/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 0px;
}
.icon-block .material-icons {
  font-size: inherit;
}
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


nav {
  height: 8%;
  width: 100%;
  color: #fff;
  background-color: #ee6e73;
  line-height: 56px;
  overflow: hidden;  //code added to prevent scroll
}
.section {
  height: 90%;
  position: relative;
  overflow: hidden;  //code added to prevent scroll
}
footer.page-footer {
  height: 2%;
  margin-top: 0px;
  padding-top: 0px;
  background-color: #ee6e73;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
  overflow: hidden;  //code added to prevent scroll
}


.col, .row, #map {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
}

.brand-logo {
  margin-top: 10px;
  position: relative;
  color: #fff;
  display: inline-block;
  font-size: 2.2rem;
  padding: 1;
  white-space: nowrap;
}

li, a {
  margin-top: 5px;
}

.collection .collection-item.avatar p {
  font-size: 85%;
}

.collection .collection-item.avatar span.title {
  font-weight: bold;
}

.section .row .col {
  overflow: auto;  
}

.left-pane {
  margin: 5px;
}